userdata/charts/*
userdata/hitsounds/*
userdata/export/*
userdata/replays/*
userdata/screenshots/*
userdata/backgrounds/*
userdata/ui_themes/*
userdata/audio_previews
userdata/bga_previews
userdata/pkg
userdata/charts
userdata/export
userdata/replays
userdata/screenshots
userdata/backgrounds
userdata/ui_themes
userdata/hitsounds
userdata/testcharts
!userdata/hitsounds/midi

userdata/main.log
userdata/input.lua
userdata/modifier.lua
userdata/mount.lua
userdata/select.lua
userdata/settings.lua
userdata/window.lua
userdata/online.lua
userdata/timings.lua
userdata/judgements.lua
userdata/files.lua
userdata/urls.lua
userdata/filters.lua
userdata/play.lua
userdata/avatar.png
userdata/lasterror.txt

moddedgame

reqprof
typecheck
lapis/*
tree
logs
storages
nginx.conf.compiled
storages/notecharts/*
storages/replays/*
!storages/notecharts/.keep
!storages/replays/.keep
share/*
temp/*
!share/.keep
!temp/.keep
graph.png
luacov.stats.out
lcov.info
luacov.report.out
userdata/osu_ui.lua
userdata/result.gif
nginx.conf
nginx_config.lua
app_config.lua
my.cnf
backups

*.db
*.db-journal
*.db-shm
*.db-wal
