debug
userdata/charts/*
userdata/hitsounds/*
userdata/export/*
!userdata/charts/.keep
!userdata/hitsounds/.keep
!userdata/export/.keep
userdata/cache.sqlite
userdata/input.json
userdata/config.json
userdata/mount.json
userdata/cache.log
userdata/chart.log
userdata/main.log
userdata/scores.log
userdata/charts.db
userdata/scores.db
userdata/charts.db-journal

