debug
userdata/charts/*
userdata/hitsounds/*
userdata/export/*
userdata/replays/*
userdata/screenshots/*
!userdata/hitsounds/midi
!userdata/charts/.keep
!userdata/hitsounds/.keep
!userdata/export/.keep
!userdata/replays/.keep
!userdata/screenshots/.keep
userdata/cache.sqlite
userdata/input.json
userdata/config.json
userdata/mount.json
userdata/modifiers.json
userdata/selected.json
userdata/charts.db
userdata/scores.db
userdata/charts.db-journal
*.log
userdata/online.json
temp
userdata/settings.toml
userdata/select.toml
