[mysqldump]
host=localhost
port=3306
user=username
password=password
single-transaction
routines
add-drop-table
disable-keys
extended-insert
protocol=tcp
hex-blob

[mysql]
host=localhost
port=3306
user=username
password=password
