.header__button-icon {
	margin-right: 5px;
}

.header__support-icon {
	color: #ff8787;
}

.header__logo {
	margin-left: 4px;
	margin-right: 4px;
	scale: 150%;
}

.header__avatar {
	min-height: 40px;
	aspect-ratio: 1;
	margin-left: 10px;
	border-radius: 100%;
}
