body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.icon-margin-right {
	margin-right: 5px;
}

.center-form-vertical {
	display: grid;
	max-height: 80vh;
	grid-template-rows: repeat(3, 1fr);
}
