.user__container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.user__table-flag {
	width: 24px;
	height: 18px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 6px;
}

.user__avatar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	aspect-ratio: 1;
	border-radius: 10%;
}

.user__username-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user__username-container *:first-child {
	margin-right: 6px;
}

.user__username-cell {
	display: inline-block;
}

.user__key-value {
	display: flex;
	justify-content: space-between;
}

.user__options-menu-touch {
	margin-left: 8px;
	margin-right: 8px;
}

.user__activity-table {
	margin: auto;
	border-collapse: separate;
	border-spacing: 3px;
	font-size: 12px;
}

.user__activity-rect {
	shape-rendering: geometricPrecision;
	width: 10px;
	height: 10px;
	border-radius: 2px;
}

html[data-theme=light] {
	--user-activity-1: #4ac26b;
	--user-activity-2: #4ac26b;
	--user-activity-3: #2da44e;
	--user-activity-4: #116329;
}

html[data-theme=dark] {
	--user-activity-1: #116329;
	--user-activity-2: #116329;
	--user-activity-3: #2da44e;
	--user-activity-4: #4ac26b;
}

.user__activity-color[data-activity = "0"] {
	background-color: var(--bulma-background);
}

.user__activity-color[data-activity = "1"] {
	background-color: var(--user-activity-1);
}

.user__activity-color[data-activity = "2"] {
	background-color: var(--user-activity-2);
}

.user__activity-color[data-activity = "3"] {
	background-color: var(--user-activity-3);
}

.user__activity-color[data-activity = "4"] {
	background-color: var(--user-activity-4);
}

.user__activity-week-day {
	position: absolute;
	bottom: -3px;
}

.user__score-container {
	margin: 0 auto;
	max-width: 930px;
	width: 100%;
}

.user__score-panel {
	display: flex;
	width: 100%;
	height: 54px;
	line-height: 54px;
	background-color: var(--bulma-background);
	border-radius: 8px;
	overflow: hidden;
}

.user__score-panel:hover {
	background-color: var(--bulma-border);
}

.user__score-panel:not(:last-child) {
	margin-bottom: 4px;
}

.user__score-text {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.user__score-rows {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
}

.user__score-rows > :first-child {
	margin-top: auto;
	padding-bottom: 3px;
	line-height: 100%;
}

.user__score-rows > :last-child {
	margin-bottom: auto;
	padding-top: 3px;
	line-height: 100%;
}

.user__score-mods {
	flex-grow: 1;
}

.user__score-grade {
	width: 60px;
	padding-left: 18px;
	padding-right: 20px;
	font-size: 42px;
	line-height: 52px;
	text-shadow: -1px -1px 0 #00000022, 1px -1px 0 #00000022, -1px 1px 0 #00000022, 1px 1px 0 #00000022;
}

.user__score-line {
	min-width: 8px;
	border-radius: 8px;
}

.user__score-rating-box {
	display: flex;
	justify-content: center;
	text-align: center;
	width: 110px;
	font-size: 21px;
	background-color: var(--bulma-border-weak);
	clip-path: polygon(
		0% 0%,
		100% 0%,
		100% 100%,
		0% 100%,
		5px 80%,
		5px 20%
	);
}
.user__score-panel:hover .user__score-rating-box {
	background-color: var(--bulma-border);
}

.user__score-rating-postfix {
	font-size: 12px;
	line-height: 60px;
	padding-left:2px
}
